<html>
    <head>
        <title>VUE DEMO PAGE</title>
    </head>
    <body oncontextmenu="return false;">
        <div id="app">
            {{message}}
        </div>
        <div id="app2" v-bind:title="message">
            鼠标悬停查看title信息
        </div>
        <div id="app3" v-if="seen">
            {{message}}
        </div>
        <div id="app4">
            <ul>
                <li v-for="item in list">
                    {{item}}
                </li>
            </ul>
        </div>
        <div id="app4_2">
            <ul>
                <li v-for="(value,key) in map" :key="key">
                    key:{{key}},value:{{value}}
                </li>
            </ul>
        </div>
        <div id="app5">
            <span>{{message}}</span>
            <button @click="reverse">reverse</button>
        </div>
        <div id="app6">
            <span>{{message}}</span>
            <input v-model="message" type="text"/>
        </div>
        <hr>
        <div id="app7">
            <ol>
              <!--
                现在我们为每个 todo-item 提供 todo 对象
                todo 对象是变量，即其内容可以是动态的。
                我们也需要为每个组件提供一个“key”，稍后再
                作详细解释。
              -->
              <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
              ></todo-item>
            </ol>
        </div>
        <div id="app7_2">
            <ol>
                <!--
                现在我们为每个 todo-item 提供 todo 对象
                todo 对象是变量，即其内容可以是动态的。
                我们也需要为每个组件提供一个“key”，稍后再
                作详细解释。
              -->
              <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id"
            ></todo-item>
            </ol>
        </div>
        <div id="app8">
            <span>{{times}}</span>&emsp;
            <input type="text" v-model="a"/>
        </div>
        <hr>
        <div id="app9">
            <div v-on:[eventname]="onTrigger" style="background:aqua;">
                设置触发事件后,操作本DIV
            </div>
            <input type="button" value="点击事件" v-on:click="setEventName($event,'click')"/>
            <input type="button" value="双击事件" v-on:click="setEventName($event,'dblclick')"/>
            <input type="button" value="悬停事件" v-on:click="setEventName($event,'mouseover')"/>
            <input type="button" value="离开事件" v-on:click="setEventName($event,'mouseout')"/>
            <input type="button" value="解除绑定" v-on:click="setEventName($event,null)"/>
        </div>
        <div id="app10">
            <span>{{message}}</span>&emsp;
            <span>{{reverseMessage}}</span>
        </div>
        <div id="app10_2">
            <span>{{message}}</span>&emsp;
            <span>{{reverseMessage()}}</span>
        </div>
    </body>
    <script src="./vue.js"></script>
    <script src="./axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                message: '页面加载于:' + new Date().toLocaleString()
            }
        })
        var app3 = new Vue({
            el: '#app3',
            data: {
                seen: true,
                message: "判断是否显示"
            }
        })
        var app4 = new Vue({
            el: '#app4',
            data: {
                list: ["binbin","lili","mengmeng","kaikai"]
            }
        })
        var app4_2 = new Vue({
            el: '#app4_2',
            data: {
                map: {"binbin": 1,"lili":3,"mengmeng":4,"kaikai":2}
            }
        })
        var app5 = new Vue({
            el: '#app5',
            data: {
                message: "binbin"
            },
            methods: {
                reverse : function(){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app6 = new Vue({
            el: '#app6',
            data: {
                message: "双向绑定"
            }
        })
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
        var app7 = new Vue({
            el: '#app7',
            data: {
                groceryList: [
                    { id: 0, text: '蔬菜' },
                    { id: 1, text: '奶酪' },
                    { id: 2, text: '随便其它什么人吃的东西' }
                ]
            }
        })
        var app7_2 = new Vue({
            el: '#app7_2',
            data: {
                groceryList: [
                    { id: 0, text: '香蕉' },
                    { id: 1, text: '橘子' },
                    { id: 2, text: '苹果' },
                    { id: 3, text: '老八秘制小汉堡' }
                ]
            }
        })

        var data = { a: 1, times : 0}
        var app8 = new Vue({
            el : "#app8",
            data: data,
            watch : {
                a : function(newVal, oldVal){
                    console.log("newVal:"+newVal+",oldVal:"+oldVal)
                    this.times++
                }
            }
        })
        // 与app8的watch属性等效
        // app8.$watch('a', function(newVal, oldVal){
        //     app8.times++;
        // })

        var app9 = new Vue({
            el: '#app9',
            data : {
                eventname : null
            },
            methods: {
                setEventName : function(event,msg){
                    var el = event.currentTarget;
                    this.eventname = msg;
                },
                onTrigger : function(){
                    console.log(this)
                }
            }
        })
        var app10 = new Vue({
            el: '#app10',
            data : {
                message : "计算属性:binbin"
            },
            computed : {
                reverseMessage : function(){
                    return this.message.split('').reverse().join('')
                }
            }
        })
        var app10_2 = new Vue({
            el: '#app10_2',
            data : {
                message : "计算方法:binbin"
            },
            methods : {
                reverseMessage : function(){
                    return this.message.split('').reverse().join('')
                }
            }
        })
        axios.get('https://yesno.wtf/api').then(function(response){
            console.log(response.data)
        }).catch(function(error){
            console.log(error)
        })
        
        axios.get('https://bms.51jkang.com/banner/queryBanners').then(function(response){
            console.log(response.data)
        }).catch(function(error){
            console.log(error)
        })

        axios.get('/data.json').then(function(response){
            console.log(response.data)
        }).catch(function(error){
            console.log(error)
        })
        
    </script>
</html>
